@charset "UTF-8";

body {
    background: #f6f9fb;
}

.wrap {
    padding-top: 150px;
    width: 100%;
    min-width: 1024px;
}

.inner {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* header */

header {
    background: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 120px;
    float: left;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: c;
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
    position: relative;
}

header nav h3 {
    float: left;
    width: 200px;
    line-height: 180px;
    cursor: pointer;
}

header nav h3 img {
    width: 100%;
}

header nav ul.main_menu {
    float: left;
    width: 50%;
    line-height: 145px;
    position: relative;
}

header nav ul.main_menu>li {
    float: left;
    margin-right: 55px;
}

header nav ul.main_menu>li:last-child {
    margin-right: 0px;
}

header nav ul.main_menu>li>a {
    color: #0f4c82;
    font-family: 'NIXGONM-Vb';
    font-size: 20px;
    font-weight: 600;
}

header nav ul.main_menu>li:hover div.under_line1 {
    width: 190px;
}

header nav ul.main_menu>li:hover div.under_line2 {
    width: 88px;
}

header nav ul.main_menu>li:hover div.under_line3 {
    width: 60px;
}

header nav ul.main_menu>li>div.under_line {
    position: absolute;
    top: 90px;
    width: 0px;
    height: 2px;
    background-color: #f0813e;
    transition-duration: 0.5s;
}

header nav ul.main_menu>li:hover ul {
    visibility: visible;
    opacity: 1;
}

header nav ul.main_menu>li>ul {
    line-height: 20px;
    position: absolute;
    top: 100px;
    width: 190px;
    border: 2px solid #334c71;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.5s;
    z-index: 10;
}

header nav ul.main_menu>li>ul.sub2 {
    transform: translateX(-28%);
}

header nav ul.main_menu>li>ul.sub3 {
    transform: translateX(-69%);
}

header nav ul.main_menu>li>ul li a {
    display: block;
    width: 170px;
    height: 25px;
    padding: 15px 10px;
    background-color: #f2f4f6;
    font-family: 'S-CoreDream-3Light';
    color: #334c71;
}

header nav ul.main_menu>li>ul li a:hover {
    background-color: #334c71;
    color: #f2f4f6;
}

header nav div.search {
    float: left;
    width: 400px;
    height: 55px;
    border-radius: 10px;
    background: #0f4c82;
    box-sizing: border-box;
    position: relative;
    top: 45px;
    line-height: 80px;
}

header nav div.search div.img {
    position: absolute;
    right: 15px;
    top: -3px;
    width: 30px;
}

header nav div.search input[id=search] {
    float: left;
    position: relative;
    top: 1px;
    width: 400px;
    height: 50px;
    font-family: 'S-CoreDream-3Light';
    font-size: 20px;
    color: #0f4c82;
    background: transparent;
    border: 0px;
    outline: none;
}

header nav div.search input[id=search]:focus~div.recent_search {
    display: block;
}

header nav div.search div.img img {
    width: 100%;
    cursor: pointer;
}

header nav div.search div.recent_search {
    display: none;
    position: absolute;
    top: 61px;
    background-color: white;
    border: 2px solid #edeff2;
    border-top: 0px;
    box-sizing: border-box;
    width: 100%;
    line-height: 20px;
    border-radius: 5px;
    font-family: 'S-CoreDream-3Light';
    text-align: center;
    color: #0f4c82;
    box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.425), -1px -1px 2px rgba(128, 128, 128, 0.425);
}

header nav div.search div.recent_search div.recent_top {
    float: left;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-bottom: 2px solid #edeff2;
    box-sizing: border-box;
    margin-bottom: 60px;
    font-size: 15px;
}

header nav div.search div.recent_search div.recent_top p:first-child {
    float: left;
}

header nav div.search div.recent_search div.recent_top p:last-child {
    float: right;
    cursor: pointer;
}

header nav div.search div.recent_search div.recent_bottom {
    float: left;
    width: 100%;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 25px;
}

header nav div.link {
    position: absolute;
    top: 10px;
    right: 1.5%;
    line-height: 30px;
    color: #0f4c82;
    cursor: pointer;
}

header nav div.link div.book_mark {
    float: left;
    margin-right: 15px;
}

header nav div.link div.shortcut {
    float: left;
}

header nav div.link p {
    float: left;
    font-size: 14px;
    line-height: 25px;
}

header nav div.link div.img {
    float: left;
    height: 18px;
    margin-right: 3px;
}

header nav div.link img {
    height: 100%;
}

header nav div.icons {
    position: absolute;
    top: 65%;
    right: 1.5%;
    transform: translateY(-25%);
}

header nav div.icons div.icon {
    height: 30px;
    float: left;
    margin-left: 30px;
    position: relative;
    bottom: 12px;
    cursor: pointer;
    font-family: 'NIXGONM-Vb';
}

header nav div.icons div.icon:hover p {
    opacity: 1;
}

header nav div.icons div.icon:first-child {
    margin-left: 0px;
}

header nav div.icons div.icon p {
    position: absolute;
    top: 50px;
    display: block;
    color: #f0813e;
    font-size: 11px;
    opacity: 0;
    transition-duration: 0.3s;
}

header nav div.icons div.basket p {
    left: 6px;
}

header nav div.icons div.login p {
    left: 4px;
}


header nav div.icons img {
    height: 100%;
}

/* asi1 */
aside.asi1 {
    position: sticky;
    float: left;
    top: 9%;
    left: 1.5%;
    transform: translateY(50px);
    width: 280px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 0px 9px 8px 2px hsl(0deg 0% 0% / 10%);
}

aside.asi1 h3 {
    font-family: 'NIXGONM-Vb';
    font-weight: bold;
    font-size: 15px;
    color: #334c71;
    margin-bottom: 10px;
}

aside.asi1 span {
    display: block;
    float: right;
    position: relative;
    bottom: 18px;
    width: 100px;
    height: 1px;
    background-color: #334c71;
}

aside.asi1 div.list {
    margin-bottom: 30px;
}

aside.asi1 div.list ul.main_menu {
    position: relative;
}

aside.asi1 div.list ul.main_menu>li:hover a {
    background-color: #f2f4f6;
    color: #0f4c82;
}

aside.asi1 div.list ul.main_menu>li:hover ul {
    display: block;
}

aside.asi1 div.list ul.main_menu>li>a {
    display: block;
    padding: 15px 10px;
    color: #f2f4f6;
    background-color: #0f4c82;
    font-size: 14px;
    font-family: 'S-CoreDream-3Light';
}

aside.asi1 div.list ul.main_menu>li:nth-child(1)>a {
    border-radius: 5px 5px 0px 0px;
}

aside.asi1 div.list ul.main_menu>li:nth-child(3)>a {
    border-radius: 0px 0px 5px 5px;
}

aside.asi1 div.list ul.main_menu>li>ul {
    position: absolute;
    width: 196px;
    left: 196px;
    display: none;
    border: 1px solid #334c71;
}

aside.asi1 div.list ul.main_menu>li>ul.sub_menu1 {
    top: 0px;
}

aside.asi1 div.list ul.main_menu>li>ul.sub_menu2 {
    top: 39px;
}

aside.asi1 div.list ul.main_menu>li>ul.sub_menu3 {
    top: 78px;
}

aside.asi1 div.list ul.main_menu>li>ul li {
    height: 39px;
}

aside.asi1 div.list ul.main_menu>li>ul li:first-child {
    height: 38px;
}

aside.asi1 div.list ul.main_menu>li>ul li:hover a {
    background-color: #334c71;
    color: #f2f4f6;
}

aside.asi1 div.list ul.main_menu>li>ul li a {
    display: block;
    width: 196px;
    height: 39px;
    line-height: 39px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 12px;
}

aside.asi1 div.login {
    margin-bottom: 45px;
}

aside.asi1 div.login span {
    width: 118px;
}

aside.asi1 div.login div.login_btn {
    margin-bottom: 10px;
}

aside.asi1 div.login fieldset {
    width: 100%;
    border: 0px;
}

aside.asi1 div.login input[id=id] {
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
    background-color: #f2f4f6;
    padding: 10px 10px;
    outline: none;
    margin-bottom: 2px;
    color: #334c71;
    font-family: 'S-CoreDream-3Light';
}

aside.asi1 div.login input[id=id]::placeholder {
    font-family: 'S-CoreDream-3Light';
    color: #8a95a7;
}

aside.asi1 div.login input[id=password] {
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    background-color: #f2f4f6;
    padding: 10px 10px;
    outline: none;
    margin-bottom: 10px;
    color: #334c71;
    font-family: 'S-CoreDream-3Light';
}

aside.asi1 div.login input[id=password]::placeholder {
    font-family: 'S-CoreDream-3Light';
    color: #8a95a7;
}

aside.asi1 div.login div.login_btn p {
    float: left;
}

aside.asi1 div.login div.login_btn p a {
    font-family: 'NIXGONM-Vb';
    font-size: 12px;
    line-height: 20px;
    color: #334c71;
}

aside.asi1 div.login div.login_btn div.btn {
    float: right;
}

aside.asi1 div.login div.login_btn div.btn input[id=submit] {
    float: left;
    border: 0px;
    background-color: #0f4c82;
    width: 60px;
    height: 25px;
    font-family: 'S-CoreDream-3Light';
    color: #f2f4f6;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 3px;
    cursor: pointer;
}

aside.asi1 div.login div.login_btn div.btn p {
    float: left;
}

aside.asi1 div.login div.login_btn div.btn p a {
    display: block;
    background-color: #0f4c82;
    width: 60px;
    height: 25px;
    line-height: 25px;
    font-family: 'S-CoreDream-3Light';
    color: #f2f4f6;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}

aside.asi1 div.login div.login_btn p img {
    width: 10px;
}

aside.asi1 div.login div.search_data div.icon {
    float: left;
    width: 5px;
    line-height: 8px;
    margin-right: 5px;
}

aside.asi1 div.login div.search_data div.icon img {
    width: 100%;
}

aside.asi1 div.login div.search_data p a {
    float: left;
    font-family: 'NIXGONM-Vb';
    font-size: 12px;
    color: #334c71;
}

aside.asi1 div.login div.search_data p.margin a {
    margin-right: 10px
}

aside.asi1 div.search {
    position: relative;
    margin-bottom: 30px;
}

aside.asi1 div.search span {
    width: 135px;
}

aside.asi1 div.search input[id=search2] {
    width: 100%;
    box-sizing: border-box;
    border: 0px;
    background-color: #f2f4f6;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    color: #334c71;
    font-family: 'S-CoreDream-3Light';
}

aside.asi1 div.search input[id=search2]::placeholder {
    font-family: 'S-CoreDream-3Light';
    color: #8a95a7;
}

aside.asi1 div.search label[for=search2] {
    position: absolute;
    top: 36px;
    right: 10px;
    width: 15px;
    cursor: pointer;
}

aside.asi1 div.search label[for=search2] img {
    width: 100%;
}

aside.asi1 div.search p {
    font-family: 'NIXGONM-Vb';
    font-size: 12px;
    color: #334c71;
}

aside.asi1 div.board span {
    width: 118px;
}

aside.asi1 div.board ul li:hover a {
    background-color: #334c71;
    color: #f2f4f6;
}

aside.asi1 div.board ul li a {
    display: block;
    padding: 10px 10px;
    font-size: 14px;
    font-family: 'S-CoreDream-3Light';
    color: #334c71;
}

/* asi2 */
aside.asi2 {
    position: sticky;
    float: right;
    top: 9%;
    right: 1.5%;
    transform: translateY(300px);
    width: 220px;
    background-color: #ffffff;
    box-shadow: 3px 2px 8px 2px hsl(0deg 0% 0% / 10%);
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 10;
}

aside.asi2 div.basket div.top {
    background-color: #0f4c82;
    border-radius: 5px 5px 0 0;
    padding: 10px 10px;
    color: #f2f4f6;
}

aside.asi2 div.basket div.top h3 {
    float: left;
    font-family: 'NIXGONM-Vb';
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

aside.asi2 div.basket div.top p {
    float: right;
    font-size: 15px;
}

aside.asi2 div.basket div.bottom {
    padding: 15px 10px;
}

aside.asi2 div.basket div.bottom p {
    font-family: 'S-CoreDream-3Light';
    color: #334c71;
    text-align: center;
    line-height: 80px;
}

aside.asi2 div.basket div.bottom div.item_basket {
    width: 100%;
    max-height: 530px;
    overflow-y: hidden;
    margin-bottom: 20px;
}

aside.asi2 div.basket div.bottom div.arrow {
    padding-bottom: 20px;
}

aside.asi2 div.basket div.bottom div.arrow div.arr_top>span {
    display: block;
    float: left;
    width: 93px;
    height: 15px;
    border: 1px solid #334c71;
    position: relative;
    cursor: pointer;
}

aside.asi2 div.basket div.bottom div.arrow div.arr_top>span:hover {
    background-color: #334c71;
}

aside.asi2 div.basket div.bottom div.arrow div.arr_top>span:hover span {
    border-color: #f2f4f6;
}

aside.asi2 div.basket div.bottom div.arrow div.arr_top>span>span {
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #334c71;
    border-right: 1px solid #334c71;
    transform: translate(-50%, -30%) rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

aside.asi2 div.basket div.bottom div.arrow div.arr_bottom>span {
    display: block;
    float: right;
    width: 93px;
    height: 15px;
    border: 1px solid #334c71;
    position: relative;
    cursor: pointer;
}

aside.asi2 div.basket div.bottom div.arrow div.arr_bottom>span:hover {
    background-color: #334c71;
}

aside.asi2 div.basket div.bottom div.arrow div.arr_bottom>span:hover span {
    border-color: #f2f4f6;
}

aside.asi2 div.basket div.bottom div.arrow div.arr_bottom>span>span {
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #334c71;
    border-right: 1px solid #334c71;
    transform: translate(-50%, -80%) rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
}

/* main */
main {
    float: left;
    width: 100%;
}

main input[name=basket] {
    display: none;
}

main input[name=basket]:checked~section.sec1 aside.asi2 {
    transform: translateY(50px);
}

main input[name=basket]:checked~section.sec1 aside.asi2 div.basket div.bottom p {
    line-height: 20px;
    margin-bottom: 15px;
}

section.sec1 aside.asi2 div.basket div.bottom div.item_basket img {
    width: 100%;
    margin-bottom: 15px;
}


main input[id=agon]:checked~section.sec1 aside.asi2 div.basket div.bottom div.item_basket div.item1 {
    width: 100%;
    height: 200px;
    background: url(../images/book1.png) no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 15px;
}

main input[id=microscope]:checked~section.sec1 aside.asi2 div.basket div.bottom div.item_basket div.item2 {
    width: 100%;
    height: 200px;
    background: url(../images/book2.png) no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 15px;
}

main input[id=team_sherlock]:checked~section.sec1 aside.asi2 div.basket div.bottom div.item_basket div.item3 {
    width: 100%;
    height: 200px;
    background: url(../images/book3.png) no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 15px;
}

main input[id=coc_screenpack]:checked~section.sec1 aside.asi2 div.basket div.bottom div.item_basket div.item4 {
    width: 100%;
    height: 200px;
    background: url(../images/book4.png) no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 15px;
}

main input[id=a13th_age_corebook]:checked~section.sec1 aside.asi2 div.basket div.bottom div.item_basket div.item5 {
    width: 100%;
    height: 200px;
    background: url(../images/book5.png) no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 15px;
}

main input[id=coc_Introductory_set]:checked~section.sec1 aside.asi2 div.basket div.bottom div.item_basket div.item6 {
    width: 100%;
    height: 200px;
    background: url(../images/book6.png) no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 15px;
}

main input[id=Legion_of_the_Embers]:checked~section.sec1 aside.asi2 div.basket div.bottom div.item_basket div.item7 {
    width: 100%;
    height: 200px;
    background: url(../images/book7.png) no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 15px;
}

main input[id=coc_First_darkness]:checked~section.sec1 aside.asi2 div.basket div.bottom div.item_basket div.item8 {
    width: 100%;
    height: 200px;
    background: url(../images/book7.png) no-repeat 50% 50%;
    background-size: contain;
    margin-bottom: 15px;
}

main section.sec1 div.recommend div.books div.book label.item_basket_btn {
    cursor: pointer;
}

main section.sec1 aside.asi2 div.basket div.arrow label {
    display: none;
}

main input[name=updown] {
    display: none;
}

main input[id=top_btn1]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn2] {
    display: block;
}

main input[id=top_btn2]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn3],
main input[id=top_btn2]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=bottom_btn3] {
    display: block;
}

main input[id=top_btn3]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn4],
main input[id=top_btn3]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=bottom_btn4] {
    display: block;
}

main input[id=bottom_btn3]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn2] {
    display: block;
}

main input[id=top_btn4]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn5],
main input[id=top_btn4]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=bottom_btn5] {
    display: block;
}

main input[id=bottom_btn4]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn3],
main input[id=bottom_btn4]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=bottom_btn3] {
    display: block;
}

main input[id=top_btn5]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn6],
main input[id=top_btn5]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=bottom_btn6] {
    display: block;
}

main input[id=bottom_btn5]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn4],
main input[id=bottom_btn5]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=bottom_btn4] {
    display: block;
}

main input[id=top_btn6]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=bottom_btn7] {
    display: block;
}

main input[id=bottom_btn6]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn5],
main input[id=bottom_btn6]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=bottom_btn5] {
    display: block;
}

main input[id=bottom_btn7]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=top_btn6],
main input[id=bottom_btn7]:checked~section.sec1 aside.asi2 div.basket div.arrow label[for=bottom_btn6] {
    display: block;
}

main input[id=top_btn1]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: up1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes up1 {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}


main input[id=top_btn2]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: up2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes up2 {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-300px);
    }
}

main input[id=top_btn3]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: up3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes up3 {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(-600px);
    }
}

main input[id=bottom_btn3]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: down3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes down3 {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0px);
    }
}

main input[id=top_btn4]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: up4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes up4 {
    0% {
        transform: translateY(-600px);
    }

    100% {
        transform: translateY(-900px);
    }
}

main input[id=bottom_btn4]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: down4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes down4 {
    0% {
        transform: translateY(-600px);
    }

    100% {
        transform: translateY(-300px);
    }
}

main input[id=top_btn5]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: up5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes up5 {
    0% {
        transform: translateY(-900px);
    }

    100% {
        transform: translateY(-1200px);
    }
}

main input[id=bottom_btn5]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: down5;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes down5 {
    0% {
        transform: translateY(-900px);
    }

    100% {
        transform: translateY(-600px);
    }
}

main input[id=top_btn6]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: up6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes up6 {
    0% {
        transform: translateY(-1200px);
    }

    100% {
        transform: translateY(-1500px);
    }
}

main input[id=bottom_btn6]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: down6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes down6 {
    0% {
        transform: translateY(-1200px);
    }

    100% {
        transform: translateY(-900px);
    }
}

main input[id=bottom_btn7]:checked~section.sec1 aside.asi2 div.basket div.item_basket div.item_frame {
    animation-name: down7;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes down7 {
    0% {
        transform: translateY(-1500px);
    }

    100% {
        transform: translateY(-1200px);
    }
}

/* sec1 */
main section.sec1 {
    float: left;
    width: 100%;
    background-image: url(../images/sec1_backgrond.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 100px;
}

main section.sec1 div.recommend {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

main section.sec1 div.recommend>h1 {
    float: right;
    color: #0f4c82;
    font-family: 'S-CoreDream-3Light';
    font-weight: 200;
    font-size: 50px;
    text-align: right;
    transform: translate(0px, 110px);
    width: 420px;
    border-bottom: 2px solid #0f4c82;
}

div.books_inner {
    padding-top: 50px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

main section.sec1 div.recommend div.books div.book {
    width: 420px;
    margin-bottom: 50px;
    box-shadow: 6px 7px 8px 2px hsl(0deg 0% 0% / 10%);
    cursor: pointer;
}

main section.sec1 div.recommend div.books div.book:hover div.book_top div.black {
    visibility: visible;
    opacity: 0.6;
}

main section.sec1 div.recommend div.books div.book:hover div.book_top div.icons {
    display: block;
}

main section.sec1 div.recommend div.books div.book:nth-child(8) {
    margin-bottom: 360px;
}

main section.sec1 div.recommend div.books div.book_l {
    float: left;
}

main section.sec1 div.recommend div.books div.book_r {
    float: right;
    position: relative;
    top: 260px;
}

main section.sec1 div.recommend div.books div.book div.book_top {
    height: 450px;
    overflow: hidden;
    position: relative;
}

main section.sec1 div.recommend div.books div.book div.book_top div.black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.3s;
}

main section.sec1 div.recommend div.books div.book div.book_top:hover div.icons {
    visibility: visible;
    opacity: 1;
}

main section.sec1 div.recommend div.books div.book div.book_top div.icons {
    visibility: hidden;
    opacity: 0;
}


main section.sec1 div.recommend div.books div.book div.book_top div.wish_btn {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 90px;
    height: 90px;
    background-color: #f2f4f6a6;
    border-radius: 50%;
    text-align: center;
    padding-top: 22px;
    box-sizing: border-box;
}

main section.sec1 div.recommend div.books div.book div.book_top div.wish_btn img {
    width: 60%;
}

main section.sec1 div.recommend div.books div.book div.book_top div.wish_btn img.hover {
    opacity: 0;
}

main section.sec1 div.recommend div.books div.book div.book_top div.wish_btn:hover {
    background-color: #334c71a8;
}

main section.sec1 div.recommend div.books div.book div.book_top div.wish_btn:hover img.btn {
    display: none;
}

main section.sec1 div.recommend div.books div.book div.book_top div.wish_btn:hover img.hover {
    opacity: 1;
}

main section.sec1 div.recommend div.books div.book div.book_top div.basket_btn {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
    width: 90px;
    height: 90px;
    padding-top: 25px;
    padding-left: 12px;
    box-sizing: border-box;
    background-color: #f2f4f6a1;
    border-radius: 50%;
}

main section.sec1 div.recommend div.books div.book div.book_top div.basket_btn:hover {
    background-color: #334c71a6;
}

main section.sec1 div.recommend div.books div.book div.book_top div.basket_btn img {
    width: 80%;
}

main section.sec1 div.recommend div.books div.book div.book_top div.basket_btn img.hover {
    opacity: 0;
}

main section.sec1 div.recommend div.books div.book div.book_top div.basket_btn:hover img.btn {
    display: none;
}

main section.sec1 div.recommend div.books div.book div.book_top div.basket_btn:hover img.hover {
    opacity: 1;
}

main section.sec1 div.recommend div.books div.book div.book_bottom {
    width: 100%;
    background-color: white;
    color: #0f4c82;
    font-family: 'NIXGONM-Vb';
    font-size: 16px;
}
main section.sec1 div.recommend div.books div.book div.book_bottom div.title{
    padding: 20px 20px 0 ;
}
main section.sec1 div.recommend div.books div.book div.book_bottom div.title p.title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

main section.sec1 div.recommend div.books div.book div.book_bottom div.price {
    text-align: right;
    position: relative;
    padding: 0px 20px 10px;
}

main section.sec1 div.recommend div.books div.book div.book_bottom div.price span {
    position: absolute;
    top: 32px;
    left: 320px;
    width: 15px;
    height: 15px;
    background-color: #0f4c82;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 3px;
}

main section.sec1 div.recommend div.books div.book div.book_bottom div.price span.hundred {
    left: 320px;
}
main section.sec1 div.recommend div.books div.book div.book_bottom div.price p{
    padding-top: 5px;
}
main section.sec1 article.art1 {
    float: left;
    width: 100%;
    background-color: white;
    padding-top: 100px;
}

main section.sec1 article.art1 div.new_item>h1 {
    color: #334c71;
    font-family: 'S-CoreDream-3Light';
    font-weight: 200;
    font-size: 50px;
    transform: translateX(10px);
    width: 420px;
    border-bottom: 2px solid #334c71;
    margin-bottom: 80px;
}

main section.sec1 article.art1 div.new_item div.item {
    float: left;
    width: calc((100% - 60px) / 4);
    margin-right: 20px;
    margin-bottom: 50px;
    box-sizing: border-box;
    box-shadow: 1px 4px 8px 2px hsl(0deg 0% 0% / 10%);
    cursor: pointer;
}
main section.sec1 article.art1 div.new_item div.item div.price p{
padding-top: 5px;
font-size: 13px;
}
main section.sec1 article.art1 div.new_item div.item:hover div.item_top div.black {
    visibility: visible;
    opacity: 0.6;
}

main section.sec1 article.art1 div.new_item div.item:hover div.item_top div.icons {
    display: block;
}


main section.sec1 article.art1 div.new_item div.item4 {
    margin-right: 0px;
}

main section.sec1 article.art1 div.new_item div.item8 {
    margin-right: 0px;
}

main section.sec1 article.art1 div.new_item div.item div.item_top {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.3s;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.icons {
    display: none;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.wish_btn {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: #f2f4f6a6;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    box-sizing: border-box;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.wish_btn img {
    width: 60%;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.wish_btn img.hover {
    opacity: 0;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.wish_btn:hover {
    background-color: #334c71a8;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.wish_btn:hover img.btn {
    display: none;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.wish_btn:hover img.hover {
    opacity: 1;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.basket_btn {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    padding-top: 17px;
    padding-left: 9px;
    box-sizing: border-box;
    background-color: #f2f4f6a1;
    border-radius: 50%;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.basket_btn:hover {
    background-color: #334c71a6;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.basket_btn img {
    width: 80%;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.basket_btn img.hover {
    opacity: 0;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.basket_btn:hover img.btn {
    display: none;
}

main section.sec1 article.art1 div.new_item div.item div.item_top div.basket_btn:hover img.hover {
    opacity: 1;
}

main section.sec1 article.art1 div.new_item div.item div.item_bottom {
    height: 140px;
    padding: 15px 30px;
    box-sizing: border-box;
    font-family: 'NIXGONM-Vb';
    color: #334c71;
}

main section.sec1 article.art1 div.new_item div.item div.item_bottom div.title {
    margin-bottom: 20px;
}

main section.sec2 div.new_item div.item div.item_bottom div.title p.title {
    font-weight: 600;
    margin-bottom: 5px;
}

main section.sec1 article.art1 div.new_item div.item div.item_bottom div.price {
    text-align: right;
    position: relative;
}

main section.sec1 article.art1 div.new_item div.item div.item_bottom div.price span {
    position: absolute;
    top: 25px;
    left: 110px;
    width: 12px;
    height: 12px;
    background-color: #0f4c82;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 3px;
}

/* footer */
footer {
    float: left;
    width: 100%;
    background-color: #334c71;
    padding: 30px 0px;
    position: relative;
    font-family: 'S-CoreDream-3Light';
}

footer div.logo {
    float: left;
    width: 120px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

footer div.logo img {
    width: 100%;
}

footer div.text {
    float: left;
    color: white;
    margin-left: 180px;
}

footer div.text ul li {
    float: left;
    font-size: 18px;
    margin-bottom: 20px;
}

footer div.text ul li.guide a,
footer div.text ul li.account a {
    color: #f0813e;
}

footer div.text ul li a {
    color: white;
}

footer div.text p {
    font-size: 15px;
}

footer div.text p.margin {
    margin-bottom: 20px;
}
